/* Header Style  */
.row h1 {
  font-size: 60px;
}
.profile-img {
  width: 300px;
}
/* Portfolio Style  */
.portfolio span,
.skills span {
  background-color: rgb(60, 64, 66);
  display: inline-block;
  padding: 5px 8px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.site-link {
  color: white;
  text-decoration: none;
}
.site-link > span:hover {
  background-color: rgb(45, 49, 51);
  color: antiquewhite;
  cursor: pointer;
}
